---
- name: Créer le répertoire des manifestes RKE2
  ansible.builtin.file:
    state: directory
    path: "{{ rke2_data_path }}/server/manifests"
    owner: root
    group: root
    mode: 0700

- name: Copier les fichiers ingress-nginx vers le premier serveur
  ansible.builtin.template:
    src: "templates/ingress-nginx-config.yml.j2"
    dest: "{{ rke2_data_path }}/server/manifests/rke2-ingress-nginx-config.yaml"
    owner: root
    group: root
    mode: 0664
