---
- name: Créer le répertoire des manifestes RKE2
  ansible.builtin.file:
    state: directory
    path: "{{ rke2_data_path }}/server/manifests"
    owner: root
    group: root
    mode: 0700

- name: Copier les fichiers kube-vip vers le premier serveur
  ansible.builtin.template:
    src: "{{ item }}"
    dest: "{{ rke2_data_path }}/server/manifests/{{ item | basename | regex_replace('.j2$', '') }}"
    owner: root
    group: root
    mode: 0664
  with_fileglob:
    - "templates/kube-vip/kube-vip.yml.j2"
    - "templates/kube-vip/kube-vip-rbac.yml.j2"

- name: Copier les manifestes du load balancer kube-vip vers le premier serveur
  ansible.builtin.template:
    src: "{{ item }}"
    dest: "{{ rke2_data_path }}/server/manifests/{{ item | basename | regex_replace('.j2$', '') }}"
    owner: root
    group: root
    mode: 0664
  with_fileglob:
    - "templates/kube-vip/kube-vip-cloud-*.j2"
  when:
    - rke2_kubevip_cloud_provider_enable | bool
