---
- name: Installer les prérequis système
  ansible.builtin.include_tasks: prerequisites.yml

- name: Pare-feu inactif
  ansible.builtin.include_tasks: firewall.yml

- name: Preparation pour stockage NFS
  ansible.builtin.include_tasks: nfs_storage.yml
  
- name: Installer Keepalived quand le mode HA est activé
  ansible.builtin.include_tasks: keepalived.yml
  when:
    - rke2_api_ip is defined
    - inventory_hostname in groups[rke2_servers_group_name]
    - rke2_ha_mode | bool
    - rke2_ha_mode_keepalived | bool

- name: Télécharger et installer RKE2 {{ rke2_version }}
  ansible.builtin.include_tasks: rke2.yml

- name: Durcissement CIS
  ansible.builtin.include_tasks: cis.yml
  when:
    - rke2_cis_profile | length > 0

- name: Trouver le serveur actif
  ansible.builtin.include_tasks: find_active_server.yml

- name: Activer le module noyau IPVS
  community.general.modprobe:
    name: ip_vs
    state: present
    persistent: present
  when:
    - rke2_kubevip_ipvs_lb_enable | bool
    - inventory_hostname in groups[rke2_servers_group_name]
    - rke2_ha_mode | bool
    - rke2_ha_mode_kubevip | bool
    - not rke2_ha_mode_keepalived | bool

- name: Copier les manifests kube-vip vers le nœud maître
  ansible.builtin.include_tasks: kubevip.yml
  when:
    - inventory_hostname == groups[rke2_servers_group_name].0
    - rke2_ha_mode | bool
    - rke2_ha_mode_kubevip | bool
    - not rke2_ha_mode_keepalived | bool

- name: Copier les manifests ingress-nginx vers le nœud maître
  ansible.builtin.include_tasks: ingress-nginx.yml
  when:
    - inventory_hostname == groups[rke2_servers_group_name].0
    - rke2_ingress_nginx_values is defined
    - rke2_ingress_nginx_values | length > 0

- name: Copier les manifests Traefik vers le nœud maître
  ansible.builtin.include_tasks: traefik.yml
  when:
    - inventory_hostname == groups[rke2_servers_group_name].0
    - rke2_traefik_values is defined
    - rke2_traefik_values | length > 0

- name: Copier les manifests Istio vers le nœud maître
  ansible.builtin.include_tasks: istio.yml
  when:
    - inventory_hostname == groups[rke2_servers_group_name].0
    - rke2_istio_values is defined
    - rke2_istio_values | length > 0

- name: Préparer le tout premier nœud serveur du cluster
  ansible.builtin.include_tasks: first_server.yml
  when:
    - inventory_hostname == groups[rke2_servers_group_name].0
    - active_server is not defined or groups[rke2_cluster_group_name] | length | int == 1

- name: Tâches spécifiques de restauration etcd
  ansible.builtin.include_tasks: first_server_restore.yml
  when:
    - active_server is defined
    - inventory_hostname == active_server or inventory_hostname == groups[rke2_servers_group_name].0
    - do_etcd_restore is defined or do_etcd_restore_from_s3 is defined

- name: Télécharger kubeconfig vers l'hôte ansible local
  ansible.builtin.include_tasks: download_kubeconfig.yaml
  when:
    - rke2_download_kubeconf | bool
    - inventory_hostname == groups[rke2_servers_group_name].0

- name: Préparer et joindre les nœuds restants du cluster
  ansible.builtin.include_tasks: remaining_nodes.yml
  when:
    - active_server is defined
    - groups[rke2_cluster_group_name] | length | int >= 2

- name: Redémarrage progressif avec cordon et drain lors du changement de version - serveurs
  ansible.builtin.include_tasks: rolling_restart.yml
  with_items: "{{ groups[rke2_servers_group_name] }}"
  loop_control:
    loop_var: _host_item
  when:
    - hostvars[_host_item].inventory_hostname == inventory_hostname
    - installed_version is defined
    - installed_version != "not installed"
    - rke2_version is defined
    - rke2_version != running_version

- name: Redémarrage progressif avec cordon et drain lors du changement de version - agents
  ansible.builtin.include_tasks: rolling_restart.yml
  with_items: "{{ groups[rke2_agents_group_name] | default([]) }}"
  loop_control:
    loop_var: _host_item
  when:
    - hostvars[_host_item].inventory_hostname == inventory_hostname
    - inventory_hostname not in groups[rke2_servers_group_name]
    - installed_version is defined
    - installed_version != "not installed"
    - rke2_version is defined
    - rke2_version != running_version

- name: Exécuter les handlers
  ansible.builtin.meta: flush_handlers

- name: Redémarrage progressif lors du changement des fichiers de configuration
  ansible.builtin.include_tasks: change_config.yml
  with_items: "{{ groups[rke2_cluster_group_name] }}"
  loop_control:
    loop_var: _host_item
  when:
    - hostvars[_host_item].inventory_hostname == inventory_hostname
    - rke2_restart_needed

- name: Étapes finales
  ansible.builtin.include_tasks: summary.yml
