---
- name: Créer le répertoire de configuration RKE2
  ansible.builtin.file:
    state: directory
    path: /etc/rancher/rke2
    owner: root
    group: root
    mode: 0755

- name: Définir les taints du serveur
  ansible.builtin.set_fact:
    combined_node_taints: "{{ rke2_server_node_taints }}"
  when: rke2_type == 'server'

- name: Définir les taints de l'agent
  ansible.builtin.set_fact:
    combined_node_taints: "{{ rke2_agent_node_taints }}"
  when: rke2_type == 'agent'

- name: Copier la configuration RKE2
  ansible.builtin.template:
    src: "{{ rke2_config }}"
    dest: /etc/rancher/rke2/config.yaml
    owner: root
    group: root
    mode: 0600
  notify: "Config file changed"

- name: Copier la configuration kubelet
  ansible.builtin.template:
    src: templates/kubelet-config.yaml.j2
    dest: /etc/rancher/rke2/kubelet-config.yaml
    owner: root
    group: root
    mode: 0600
  when: rke2_kubelet_config | length > 0
  notify: "Config file changed"

- name: Copier le fichier de configuration du registre Containerd
  ansible.builtin.template:
    src: "{{ rke2_custom_registry_path }}"
    dest: /etc/rancher/rke2/registries.yaml
    owner: root
    group: root
    mode: 0600
  when: (rke2_custom_registry_mirrors | length > 0 or rke2_custom_registry_configs | length > 0)
  notify: "Config file changed"

- name: Démarrer le service RKE2 sur le reste des nœuds
  ansible.builtin.systemd:
    name: "{{ rke2_service_name }}"
    state: started
    enabled: true
  retries: 10
  delay: 3
  register: result
  until: result is not failed
  environment:
    RKE2_TOKEN: "{{ rke2_token }}"
  notify: "Service (re)started"

- name: Masquer l'autre service RKE2 sur le reste des nœuds
  ansible.builtin.systemd:
    name: "rke2-{{ item }}.service"
    enabled: false
    masked: true
  with_items:
    - "{{ (['agent', 'server'] | reject('match', rke2_type) | list) }}"

- name: Attendre que les nœuds restants soient prêts - sans CNI
  ansible.builtin.shell: |
    {{ rke2_data_path }}/bin/kubectl --kubeconfig /etc/rancher/rke2/rke2.yaml get node "{{ item }}" -o jsonpath='{range .status.conditions[*]}{.message}{"\n"}{end}'
  args:
    executable: /bin/bash
  changed_when: false
  register: node_status
  until:
    - '"kubelet has sufficient memory available"  in node_status.stdout_lines'
    - '"kubelet has no disk pressure"  in node_status.stdout_lines'
    - '"kubelet has sufficient PID available"  in node_status.stdout_lines'
    - ("cni plugin not initialized" in node_status.stdout) or ("kubelet is posting ready status." in node_status.stdout)
  retries: 100
  delay: 15
  loop: "{{ groups[rke2_cluster_group_name] }}"
  when:
    - not ansible_check_mode
    - rke2_cni == 'none'
    - inventory_hostname == active_server or inventory_hostname == groups[rke2_servers_group_name].0

- name: Attendre que les nœuds restants soient prêts - avec CNI
  ansible.builtin.shell: |
    set -o pipefail
    {{ rke2_data_path }}/bin/kubectl --kubeconfig /etc/rancher/rke2/rke2.yaml get nodes | grep " Ready" | wc -l
  args:
    executable: /bin/bash
  changed_when: false
  register: all_ready_nodes
  until: "groups[rke2_cluster_group_name] | length == all_ready_nodes.stdout | int"
  retries: 100
  delay: 15
  when:
    - not ansible_check_mode
    - rke2_cni != 'none'
    - inventory_hostname == active_server or inventory_hostname == groups[rke2_servers_group_name].0
